
/* Gloval Class
================== */
*, body{
  font-family: "somvob";
  
}
section{
  background: rgb(248, 248, 248);
}
.container{
  max-width: 1176px !important;
}
/* .col-md-12, .col-md-10, .col-md-11, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1{
  padding: 0px !important;
} */

.padding{
  padding-top: 20px;
  padding-bottom: 20px;
}
img{
  border-radius: 3px;
}
.p10{
  padding: 10px !important;
}

/* Logo
============ */
.logo{
  text-align: center;
  padding: 20px;
}
.logo img{

width: 40%;
}

/* Header
=========== */
.main_header{
    border-top: 2px solid #c79696;
    border-bottom: 2px solid #c79696;
}
.main_header ul{
  display: flex;
  margin-top: 10px;
  padding: 0px;
}
.main_header ul li{
  list-style: none;
  padding-right: 51px;
}
.main_header ul li a{
  color: firebrick;
  font-weight: bold;
  font-size: 19px;
}
.main_header a:hover{
  
}

/* Hero Section
================ */
.Hero_section{
  
}
.cover_news{
  overflow: hidden;
}
.cover_news img{
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  height: 382px;
  overflow: hidden;
  z-index: 0;
}
.hero_cover_news_contentBox{
    background: firebrick;
    padding: 20px;
    width: 95%;
    margin: 0px auto;
    margin-top: -116px;
    position: relative;
    border-radius: 3px;
}
.hero_cover_news_contentBox h2{
  color: white;
  font-weight: bold;
  margin: 0px;
}
.hero_cover_news_contentBox h5{
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 0px;
}
.hero_cover_news_contentBox h2 a{
  color: white;
  text-decoration: none;
}

/* Hero left */
.hero_left_news{

}
.mini_content{
  background: white;
  display: inline-block;
  margin-bottom: 32px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px #e8e6e6;
}
.mini_content img{
  width: 46%;
  float: left;
  margin-right: 20px;
  border-radius: 3px;
  height: 100px;
}
.mini_content_box{
  padding: 10px;
}
.mini_content_box h2{
  font-size: 20px;
}
.mini_content_box h2 a{
  color: firebrick;
}

/* Second section
===================== */
.second_section_main_content{
  background: white;
  float: left;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 2px #e6e1e1;
  margin-right: 15px;
}
.second_section_main_content img{
  width: 100%;
  height: 164px;
}
.second_section_mini_content_box{
  padding: 16px 15px;
}
.second_section_mini_content_box h2{
  font-size: 22px;
  font-weight: bold;
  }
  .second_section_mini_content_box h2 a{
    color: firebrick;
    }

/* Third Section
==================== */
.big_news{
  
}
.big_news img{
  width: 100%;
  height: 282px;
}
.big_news_content{
  padding: 16px 13px;
  background: white;
  border-radius: 3px;
}
.big_news_content h2{
  font-size: 28px;
  font-weight: bold;
}
.big_news_content a{
  color: firebrick;
}
/* Third section -> second column */
.third_second_column{
  background: white;
  display: inline-block;
  /* margin-bottom: 32px; */
  border-radius: 3px;
  margin-top: 33px;
  box-shadow: 0px 0px 10px 0px #e8e6e6;
}
.third_second_column img{
  width: 48%;
  float: left;
  margin-right: 20px;
  border-radius: 3px;
  height: 108px;
}
.third_second_column_content{
  padding: 10px;
}
.third_second_column_content h2{
  font-size: 17px;
}
.third_second_column_content a{
  color: firebrick;
}

/* third column Tabs */
.first_tab_header{
  background: white;
  padding: 10px;
  width: 50%;
}
.first_tabs{
  background: white;
  padding: 5px 5px;
}
.first_tabs ul{
  padding: 0px;
}
.first_tabs li{
  margin: 10px 0px;
  list-style: none;
}
.first_tabs a{
  font-size: 17px;
  font-weight: bold;
  color: red;
}


/* Fourth Section
======================= */
.forth_big_news{
  background: white;
}
.forth_big_news img{
  width: 100%;
  height: 282px;
}
.fourth_big_news_content{
  padding: 16px 13px;
  background: white;
  border-radius: 3px;
}
.fourth_big_news_content h2{
  font-size: 28px;
  font-weight: bold;
}
.fourth_big_news_content a{
  color: firebrick;
}
.fourth_big_news_content h5{
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

/* Second column */
.fourth_second_column{
  background: white;
  display: inline-block;
  margin-bottom: -21px;
  margin-top: 33px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px #e8e6e6;
}
.fourth_second_column img{
  width: 100%;
  margin-right: 20px;
  border-radius: 3px;
  height: 108px;
}
.fourth_second_column_content{
  padding: 10px;
}
.fourth_second_column_content h2{
  font-size: 17px;
  font-weight: bold;
}
.fourth_second_column_content a{
  color: firebrick;
}
.main_second_section{
  
width: 100%;
  
display: flex;
}

/* Five Section
===================== */
/* nav bar */
.main_navigation_menu{

}
.main_navigation_menu li{

}
.main_navigation_menu a{
  
font-size: 20px;
  
font-weight: bold;
  
margin-right: 27px;
  
color: red;
}


.five_tab_big_news{
  background: white;
}
.five_tab_big_news img{
  width: 100%;
  height: 282px;
}
.five_tab_big_news_content{
  padding: 16px 13px;
  background: white;
  border-radius: 3px;
}
.five_tab_big_news_content h2{
  font-size: 28px;
  font-weight: bold;
}
.five_tab_big_news_content h5{
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}
.five_tab_big_news_content a{
  color: firebrick;
}

/* Second column */
.five_tab_second_column{
  background: white;
  display: inline-block;
  margin-bottom: 11px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px #e8e6e6;
}
.five_tab_second_column img{
  width: 100%;
  margin-right: 20px;
  border-radius: 3px;
  height: 108px;
}
.five_tab_second_column_content{
  padding: 10px;
}
.five_tab_second_column_content h2{
  font-size: 17px;
  font-weight: bold;
}
.five_tab_second_column_content{
  color: firebrick;
}
.five_tab_second_column_content â€a{
  color: firebrick;
}

/* last column -> Muktomot section */
.muktomot_section{

background: white;

text-align: center;
}
.muktomot_section h2{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background: red;
  color: white;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 10px;
}
.muktomot_contentBox{

}
.muktomot_contentBox h3{
  font-size: 20px;
  padding: 0px 30px 0px 30px;
  text-align: center;
}
.muktomot_contentBox img{
  width: 27%;
  border-radius: 50%;
  height: 92px;
  box-shadow: 0px 0px 11px -3px #949494;
}
.muktomot_contentBox h3{
  
}
.muktomot_contentBox a{
  color: red;
  font-weight: bold;
  font-size: 16px;
}

/* Bootstrap slider
===================== */

.photo_gallery{

}
.slider_main_img{

}
.slider_content{

}
.slider_content h2{
  
}
.slider_content p{
  
}

/* Video Section
================== */
.video_news{
  position: relative;
}
.video_content{
  background: white;
  display: inline-block;
  margin-bottom: 32px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px #e8e6e6;
}
.video_content img{
  width: 46%;
  float: left;
  margin-right: 20px;
  border-radius: 3px;
  height: 100px;
}
.video_content_box{
  padding: 10px;
}
.video_content_box h2{
  font-size: 20px;
}
.video_content_box a{
  color: firebrick;
  font-weight: bold;
}
.video_icon{
  position: absolute;
  margin-left: -64px;
  margin-top: 6px;
  color: white;
  background: #d80000;
  padding: 7px;
  border-radius: 50%;
}

/* Footer section
================= */
.footer_section{
  align-items: center;
  background: white !important;
  box-shadow: 0px 0px 52px -35px;
}
.footer_logo{

}
.footer_logo img{
  width: 100%;
}

/* Single page
================= */
.single_main{

margin-top: 50px;
}
.single_news_title{

}
.single_news_title h2 {
  
font-weight: bold;
  
font-size: 40px;
  
line-height: 50px;
}
.single_feature_img{

}
.single_feature_img img{
  
width: 100%;
  
box-sizing: border-box;
  
box-shadow: 0px 0px 11px -8px grey;
}
.single_mini_items{
  display: flex;
  margin: 10px 0px;
}
.single_mini_items h4{

font-size: 20px;
}
.single_mini_items h3{

font-size: 20px;
}
.single_paragraph{

}
.single_paragraph p{
  
font-size: 18px;
}

/* Releted news */
.releted_news_main{

}
.releted_single_box{
  background: white;
  box-shadow: 0px 0px 32px 0px #dedede;
  border-radius: 5px;
}
.releted_single_box img{
  
width: 100%;
}
.releted_single_box a h3{
  
font-size: 24px;
  
font-weight: bold;
  
margin: 12px 4px 30px 0px;
  
padding: 10px;
}

/* News Title
================ */
.title{

}
.title h2{
  font-size: 25px;
  font-weight: bold;
}

/* Categories page
===================== */

.cat_left_content{
  padding: 20px;
}
.cat_left_content h2{

font-size: 25px;

font-weight: bold;

color: white;

text-align: center;
}
.cat_left_content h5{
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.cat_left_content p{
  font-size: 18px;
  padding: 22px 0px;
  color: white;
}
.cat_left_content h4{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.cat_feature_image{

}
.cat_feature_image img{
    width: 100%;
    padding: 20px 0px;
}
.cat_hero_container{
  background: red;
}

.cat_grid_box{
background: white;
margin-bottom: 27px;
box-shadow: 0px 0px 10px 0px #eae7e7;
border-radius: 5px;
}
.cat_grid_box img{
  width: 100%;
}
.cat_grid_box h2{
  font-size: 23px;
  font-weight: bold;
  margin: 10px 0px;
  padding: 10px;
  color: firebrick;
}

/* Tag page
=================== */
.tag_feature_img{

}
.tag_feature_img img{
  width: 100%;
}

.main_mini{
  display: flex;
  margin: 20px 0px;
  box-shadow: 0px 0px 10px 0px #d2d0d0;
  background: white;
  border-radius: 3px;
}
.main_mini img{
  width: 40%;
  margin-right: 20px;
}
.main_mini h3{
  font-size: 21px;
  font-weight: bold;
  padding: 15px 0px 15px 4px;
}


/* Search page
==================== */

.search_form{
  
}
.search_related_news_main{

}
.search_releted_news_box{
  display: flex;
  background: white;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #efdcdc;
}
.search_releted_news_box img{
  width: 50%;
}
.search_releted_news_box h3{
  padding: 5px 20px;
  font-weight: bold;
}

/* Mega menu Modal
=================== */
.start_mega_menu{
  margin: 20px 0;
}
.megaMenuImg{
  text-align: center;
}

.megaMenuImg img{
    width: 40%;

}
.mega_footer{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #dee2e6;
    padding-top: 9px;
}
.extra_links{
}
.extra_links ul{
  display: flex;
}
.extra_links li{
  list-style: none;
}
.extra_links a{
  padding: 9px;
  font-size: 15px;
}
.mega_footer_social {

}
.mega_footer_social ul{
  display: flex;
}
.mega_footer_social li{
  list-style: none;
}
.mega_footer_social a{
  padding: 8px;
}
.columnBox{

}
.columnBox ul{

}
.columnBox li{

list-style: none;
}
.columnBox a{
  font-size: 17px;
  color: #dd3432;
  font-weight: bold;
}
.cat_title{
}
.before_title{

} 
.cat_title h2{

font-weight: bold;

color: red;

font-size: 23px;
} 

/* Prothom alo opinion section
============================= */
.Opinion {
  border: 1px solid #80808026;
  background: white;
}
.Opinion h1 {
  margin: 20px;
  padding: 0px;
  font-size: 22px;
  color: #00000091;
}
.Opinion h2 {
  margin: 20px 0;
  width: 82%;
}
.Opinion h2 span {
  background: #001246;
  line-height: 43px;
  color: white;
  padding: 0px 5px;
  font-family: 'somvob';
  font-weight: bold;
  box-shadow: 10px 0 0 #001246, -10px 0 0 #001246;
  font-size: 27px;
}
.OpinionContent {
  padding: 20px;
}
.OpinionContent p{
  font-size: 17px;
  margin-bottom: 36px;
} 
.OpinionAuthorBox {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
}
.OpinionAuthorBox img{
  width: 60px;
}
.OpinionAuthorBox h5::before{
  content: '';
  height: 3px;
  width: 57px;
  background: #001246;
  position: absolute;
  border-radius: 29px;
}

/* Feature Section
=================== */
.FeatureBox {

overflow: hidden;
}
.FeaturedBoxTitle {
  text-align: center;
  position: absolute;
  left: 40%;
  top: -6px;
  z-index: 1;
  }
.FeaturedBoxTitle h4 {
  background: orangered;
  color: white;
  padding: 4px 20px;
  font-size: 16px;
  overflow: hidden;
}
.FeatureBox img{
  width: 100%;
  object-fit: cover;
  transition: all 0.4s linear;
}
.FeatureBox img:hover{
  -moz-transform: scale(1.1) rotate(0.02deg);
  -webkit-transform: scale(1.1) rotate(0.02deg);
  -ms-transform: scale(1.1) rotate(0.02deg);
}
.FeatureContentBox {
  position: absolute;
  bottom: 0px;
  padding: 4px 10px;
  width: 90%;
}
.FeatureContentBox::before {
  content: "";
  position: absolute;
  top: -46px;
  right: 0;
  bottom: 0px;
  left: 0;
  background-image: linear-gradient(180deg,rgba(50,50,50,0),#000);
  min-width: 100%;
}
.FeatureContentBox h2{
  margin: 0;
  font-size: 20px;
  color: white;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}
.FeatureContentBox p{
  position: relative;
  color: white;
}